<launch>
	<arg name="model" default="$(find suchart_description)/urdf/suchart.urdf"/>
	<arg name="gui" default="True"/>
	<param name="robot_description" textfile="$(arg model)"/>
	<param name="use_gui" value="$(arg gui)"/>

	<param name="/global_verbosity" value="debug"/>
	<param name="/vision_manager/cameraID" value="1"/>
	<param name="/vision_manager/vision_module_path" value="$(find newbie_hanuman)/example/Suchart/visionModule.py"/>
	 <param name="/spinalcord/pan_motor_serie" value="ax12a"/>
	 <param name="/spinalcord/tilt_motor_serie" value="ax12a"/>
	 <param name="/spinalcord/head_baurdrate" value="1000000"/>
	 <param name="/motor_cortex/comport" value="/dev/ttyACM0"/>
	 <param name="/motor_cortex/baudrate" value="115200"/>
	 <param name="/motor_cortex/rts" value="0"/>
	 <param name="/motor_cortex/dtr" value="0"/>
	 <param name="/brain/brain_module_path" value="$(find newbie_hanuman)/example/Suchart/mainBrain.py"/>
	 <param name="/motor_cortex/sim_serial_port" value="/dev/pts/21"/>


	<!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

	<node pkg="newbie_hanuman" type="CranialNerveII" name="CranialNerveII"/>
	<node pkg="newbie_hanuman" type="OccipitalLobe" name="OccipitalLobe"/>
	<node pkg="newbie_hanuman" type="KinematicBrain" name="KinematicBrain"/>
	<node pkg="newbie_hanuman" type="Sternocleidomastoid" name="Sternocleidomastoid"/>
	<node pkg="newbie_hanuman" type="PanTiltPlanner" name="PanTiltPlanner"/>
	<!-- <node pkg="newbie_hanuman" type="SuchartMotorCortex" name="SuchartMotorCortex"/> -->
	<node pkg="newbie_hanuman" type="SuchartPathPlaning" name="SuchartPathPlaning"/>
	<!-- <node pkg="newbie_hanuman" type="SuchartFrontalCortex" name="SuchartFrontalCortex"/> -->
</launch>